@font-face {
    font-family: 'Eras Light ITC';
    src: url('../fonts/ErasLightITC.ttf') format('truetype');
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/GOTHIC.TTF) format('truetype');
}

#question-mark {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a:visited {
    color: #4D5B6B;
}

header {
    width: 100%;
    height: 100px;
}

#logo {
    height: 80px;
    width: 130px;
    position: absolute;
    top: 15px;
    left: 50px;
    z-index: 2;
}

nav {
    text-align: right;
    font-size: 1.5em;
    font-family: 'Eras Light ITC';
    width: 95%;
    position: relative;
    top: 35px;
}

nav h4 {
    display: inline-block;
    margin: 0 1.5%;
    color: #4D5B6B;
}

.dropButton {
    display: inline-block;
    font-weight: 800;
    color: #4D5B6B;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#face-shield {
    padding: 5px 16px;
    margin: 0;
    line-height: 0.7em;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropButton {
    background-color: #008CCC;
}

.dropButton-about {
    display: inline-block;
    font-weight: 800;
    color: #4D5B6B;
}

.dropdown-about {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
}

.dropdownContent-about {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent-about a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent-about a:hover {
    background-color: #ddd;
}

.dropdown-about:hover .dropdownContent-about {
    display: block;
}

.dropdown-about:hover .dropButton-about {
    background-color: #008CCC;
}

.temp {
    font-size: 0.5em;
}

h1 {
    font-family: 'Century Gothic';
    position: relative;
    text-align: center;
    font-size: 2.6em;
    width: fit-content;
    margin: 2% auto 3%;
    color: #4D5B6B;
}

.leader {
    font-family: 'Eras Light ITC';
    width: 80%;
    height: 10%;
    margin: 1% auto;
    padding: 1%;
}

.leader img {
    width: 20%;
    height: 20%;
    display: inline-block;
}

span {
    font-weight: 800;
}

.textBox {
    width: 77%;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    color: #4D5B6B;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #008ccc;
    margin-top: 6.5%;
}

footer p {
    font-family: 'Eras Light ITC';
    font-weight: 900;
    position: relative;
    left: 10px;
    top: 10px;
}

#doc {
    float: right;
    margin-right: 20px;
}

@media only screen and (max-width: 1100px) {
    .leader {
        width: 100%;
    }

    #panetta {
        margin-top: 4%;
    }
}

@media only screen and (max-width: 800px) {
    .leader img {
        display: block;
        width: 40%;
        margin: 0 auto;
    }

    .textBox {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    #panetta {
        margin-top: -5%;
    }
}

@media only screen and (max-width: 600px) {
    nav{
        display: block;
        float: right;
        font-size: 1em;
        right: 20px;
    }
}

@media only screen and (max-width: 480px) {
    nav{
        display: block;
        max-width: 40%;
        float: right;
        font-size: 1em;
        right: 20px;
    }

    .dropdownContent {
        right: 1px;
        z-index: 3;
     }
 
     .dropdownContent-about {
         right: 1px;
         z-index: 3;
     }
}