@font-face {
    font-family: 'Eras Light ITC';
    src: url('../fonts/ErasLightITC.ttf') format('truetype');
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/GOTHIC.TTF') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
 }

html {
    position: relative;
    min-height: 100%;
}

#question-mark {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a:visited {
    color: #4D5B6B;
}

h4:visited {
    border-bottom: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
}

#logo {
    height: 80px;
    width: 130px;
    position: absolute;
    top: 15px;
    left: 50px;
    z-index: 2;
}

nav {
    text-align: right;
    font-size: 1.5em;
    font-family: 'Eras Light ITC';
    width: 95%;
    position: relative;
    top: 35px;
}

nav h4 {
    display: inline-block;
    margin: 0 1.5%;
    color: #4D5B6B;
}

.dropButton {
    display: inline-block;
    font-weight: 800;
    color: #4D5B6B;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#face-shield {
    padding: 5px 16px;
    margin: 0;
    line-height: 0.7em;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropButton {
    background-color: #008CCC;
}

.dropButton-about {
    display: inline-block;
    font-weight: 800;
    color: #4D5B6B;
}

.dropdown-about {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
}

.dropdownContent-about {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent-about a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent-about a:hover {
    background-color: #ddd;
}

.dropdown-about:hover .dropdownContent-about {
    display: block;
}

.dropdown-about:hover .dropButton-about {
    background-color: #008CCC;
}

.temp {
    font-size: 0.5em;
}


/* Main Content */

h1 {
    font-family: 'Century Gothic';
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 2.6em;
    width: fit-content;
    margin: 0 auto;
    color: #4D5B6B;
}

.container {
    display: flex;
    margin-top: 65px;
    flex-shrink: 1;
}

.container .mobile {
    display: none;
}

.additionalInfo {
    background-color: #008ccc;
    padding: 40px;
    margin: 0 auto 2%;
    font-size: 1.3em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card ul {
    list-style: none;
    line-height: 3.4;
    font-family: 'Eras Light ITC';
    font-weight: 600;
}

.card ul li {
    font-size: 1rem;
}

main img {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
}

/* Footer */

footer {
    width: 100%;
    height: 40px;
    background-color: #008ccc;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

footer p {
    font-family: 'Eras Light ITC';
    font-weight: 900;
    position: relative;
    left: 10px;
    top: 10px;
}

#doc {
    float: right;
    margin-right: 20px;
}

/* Media Queries */


@media only screen and (max-width: 1150px) {
    #logo {
        margin: 0 auto;
    }

    main img {
        margin-top: 15%;
    }
}

@media(max-width: 800px) {
    .container ul li {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {

    main img {
        width: 70%;
        margin-left: 15%;
        margin-top: 20%;
    }

    nav{
        display: block;
        float: right;
        font-size: 1em;
        right: 20px;
    }
}

@media only screen and (max-width: 530px) {
    nav{
        display: block;
        max-width: 40%;
        float: right;
        font-size: 1em;
        right: 20px;
    }

    h4 {
        color: white;
    }

    .dropdownContent {
        right: 1px;
        z-index: 3;
     }
 
     .dropdownContent-about {
         right: 1px;
         z-index: 3;
     }

     .container ul li {
         font-size: 0.65rem;
     }
}

@media only screen  and (max-height: 600px) {
    footer {
        position: relative;
        margin-top: 15%;
    }
}

@media only screen and (max-height: 600px) and (max-width: 530px) {
    footer{ 
        position: relative;
        margin-top: 30%;
    }
}

/* Mobile */

@media(max-width: 430px) {
    .container {
        margin-bottom: 80px;
    }

    .container .desktop {
        display: none;
    }

    .container .mobile {
        display: block;
    }

    .container ul li {
        font-size: 1rem;
    }

    .container .card {
        max-width: 80%;
    }
}

@media(max-width: 295px) {
    .container ul li {
        font-size: 0.85rem;
    }
}