@font-face {
    font-family: 'Eras Light ITC';
    src: url(../fonts/ErasLightITC.ttf) format('truetype');
}

@font-face {
    font-family: 'Century Gothic';
src: url(../fonts/GOTHIC.TTF) format('truetype');
}

/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Universal Styling */
p {
    font-family: 'Eras Light ITC';
}

#question-mark {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a:visited {
    color: #4D5B6B;
}

/* Navbar */

header {
    width: 100%;
    height: 100px;
}

#logo {
    height: 80px;
    width: 130px;
    position: absolute;
    top: 15px;
    left: 50px;
    z-index: 2;
}

nav {
    text-align: right;
    font-size: 1.5em;
    font-family: 'Eras Light ITC';
    width: 95%;
    position: relative;
    top: 35px;
}

nav h4 {
    display: inline-block;
    margin: 0 1.5%;
    color: #4D5B6B;
}

.dropButton {
    display: inline-block;
    font-weight: 800;
    color: #4D5B6B;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#face-shield {
    padding: 5px 16px;
    margin: 0;
    line-height: 0.7em;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropButton {
    background-color: #008CCC;
}

.dropButton-about {
    display: inline-block;
    font-weight: 800;
}

.dropdown-about {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
    color: #4D5B6B;
}

.dropdownContent-about {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent-about a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent-about a:hover {
    background-color: #ddd;
}

.dropdown-about:hover .dropdownContent-about {
    display: block;
}

.dropdown-about:hover .dropButton-about {
    background-color: #008CCC;
}

.temp {
    font-size: 0.5em;
}

.background {
    background: url(../images/Picture2.png) no-repeat scroll center;
    background-size: contain;
    width: 100%;
}

.banner {
    background-color: #008CCC;
    position: relative;
    left: 50%;
    width: 45%;
    height: 650px;
    z-index: -1;
}

.banner::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    transform: skewX(-10deg);
}

#guidewire {
    position: absolute;
    right: 115%;
    top: 20%;
    width: 90%;
    text-align: center;
    font-family: 'Eras Light ITC';
    font-size: 3em;
    color: #008CCC;
}

.tm {
    font-size: 0.5em;
    vertical-align: text-top;
}

#systemOne {
    position: absolute;
    top: 50%;
    right: 30%;
    width: 100%;
    text-align: center;
    font-family: 'Eras Light ITC';
    font-size: 2.5em;
    color: white;
}

#systemTwo {
    z-index: 2;
    position: absolute;
    top: 60%;
    right: 10%;
    width: 100%;
    text-align: center;
    font-family: 'Eras Light ITC';
    font-size: 3.5em;
    color: white;
}

#systemThree {
    z-index: 2;
    position: absolute;
    top: 75%;
    left: 15%;
    width: 90%;
    text-align: center;
    font-family: 'Eras Light ITC';
    font-size: 2.5em;
    color: white;
}

#equipment {
    z-index: 2;
    position: absolute;
    top: 87%;
    right: 10%;
    margin-left: 0%;
    width: 145%;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 3.2em;
    color: white;
}

#equipmentSpan {
    background-color: #ff7605;
    padding: 0.5% 1%;
}

main img {
    width: 60%;
    position: absolute;
    bottom: 3%;
    left: 15%;
    mix-blend-mode: inherit;
}

#belowBanner {
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 2em;
    margin: 3% auto 4%;
    color: #4D5B6B;
}

#fda, #ce {
    color: #008CCC;
}

.contentLeft p {
    font-family: 'Eras Light ITC';
    font-size: 1.5em;
    font-weight: 800;
    margin-left: 5%;
    width: 90%;
    display: block;
}

#subText {
    font-size: 1.3em;
    font-weight: 600;
}

#subTitle {
    font-weight: 900;
    margin-bottom: 1%;
    font-size: 1.8em;
}

.container {
    margin-top: 4%;
    vertical-align: middle;
}

#oneTime {
    width: 60%;
    color: #008CCC;
    font-family: 'Eras Light ITC';
    margin-left: 3%;
    border-right: 5px #ff7605 solid;
    display: inline-block;
    vertical-align: middle;
}

#oneTime p {
    width: 100%;
    line-height: 150%;
    vertical-align: middle;
}

#oneTimeImage {
    display: inline-block;
    border: 3px #008CCC solid;
    border-radius: 100%;
    width: 18%;
    position: relative;
    left: 2%;
    vertical-align: middle;
}

#tip {
    width: 60%;
    color: #008CCC;
    font-family: 'Eras Light ITC';
    margin-left: 3%;
    border-right: 5px #ff7605 solid;
    display: inline-block;
    vertical-align: middle;
}

#tip p {
    width: 100%;
    line-height: 150%;
    vertical-align: middle;
}

#tipImage {
    display: inline-block;
    border: 3px #008CCC solid;
    border-radius: 100%;
    width: 18%;
    position: relative;
    left: 2%;
    vertical-align: middle;
}

#mems {
    width: 60%;
    color: #008CCC;
    font-family: 'Eras Light ITC';
    font-size: 1em;
    font-weight: 200;
    margin-left: 3%;
    border-right: 5px #ff7605 solid;
    display: inline-block;
    vertical-align: middle;
}

#mems p {
    width: 100%;
    line-height: 150%;
    display: inline-block;
    vertical-align: middle;
}

#memsImage {
    display: inline-block;
    border: 3px #008CCC solid;
    border-radius: 100%;
    width: 18%;
    position: relative;
    left: 2%;
    vertical-align: middle;
}

#connection {
    width: 60%;
    color: #008CCC;
    font-family: 'Eras Light ITC';
    font-size: 1em;
    font-weight: 200;
    margin-left: 3%;
    border-right: 5px #ff7605 solid;
    display: inline-block;
    vertical-align: middle;
}

#connection p {
    width: 100%;
    line-height: 150%;
    display: inline-block;
    vertical-align: middle;
}

#connectionImage {
    display: inline-block;
    border: 3px #008CCC solid;
    border-radius: 100%;
    width: 18%;
    position: relative;
    left: 2%;
    vertical-align: middle;
}

#button {
    width: 60%;
    color: #008CCC;
    font-family: 'Eras Light ITC';
    font-size: 1em;
    font-weight: 200;
    margin-left: 3%;
    border-right: 5px #ff7605 solid;
    display: inline-block;
    vertical-align: middle;
}

#button p {
    width: 100%;
    line-height: 150%;
    display: inline-block;
    vertical-align: middle;
}

#buttonImage {
    display: inline-block;
    border: 3px #008CCC solid;
    border-radius: 100%;
    width: 18%;
    position: relative;
    left: 2%;
    vertical-align: middle;
}

.contentLeft {
    display: inline-block;
    width: 50%;
    margin-left: 6%;
}

/* Right Side Content */

.contentRight {
    display: inline-block;
    width: 40%;
    text-align: center;
    margin-left: 0%;
    vertical-align: top;
}

#quickLinks {
    font-family: 'Eras Light ITC';
    font-size: 2em;
    color: #4D5B6B;
    position: relative;
    right: 15%;
    margin-bottom: 5%;
}

.links {
    color: white;
    font-family: 'Century Gothic';
    font-weight: 800;
    font-size: 1.2em;
    width: 60%;
    margin: 0 auto 3%;
}

.links h2 {
    margin-bottom: 11%;
    background-color: #008CCC;
    padding: 2%;
    color: white;
}

.links a {
    text-decoration: none;
    border-bottom: none;
    text-transform: uppercase;
}

.links a:visited {
    text-decoration: none;
    text-underline-position: unset;
    color: white;
}

.questions-container {
    text-align: left;
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 10%;
}

.quote-container {
    background-color: #008CCC;
    position: relative;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15% 8%;
    border-radius: 10%;
    width: 100%;
    height: 250px;
    gap: 80px;
}

.quote-image {
    color: #f1f1ff;
    width: 100%;
    text-align: left;
    font-size: 0.8em;
}

.quote-image p {
    width: 150%;
}

.quote-image img {
    margin-bottom: 5px;
    width: 110px;
    border: solid black 2px;
    position: relative;
    top: 0;
    left: 0;
}


.quote-image p:nth-child(2) {
    font-size: 1.2em;
}

.quote {
    text-align: left;
}

.quote p {
    font-size: 1.2em;
    color: #f1f1ff;
}

.quote p:nth-child(2) {
    margin-top: 10px;
}

#questions {
    font-family: 'Century Gothic';
    font-size: 1.5em;
    font-weight: 700;
    width: 100%;
    position: relative;
    margin-bottom: 5%;
    color: #4D5B6B;
}

.questions-container p {
    font-family: 'Eras Light ITC';
    font-weight: 800;
    font-size: 1em;
    width: 100%;
    margin: 0 0;
    text-align: left;
    color: #4D5B6B;
}

.questions-container span {
    color: #008CCC;
}

.questions-container a {
    border-bottom: none;
    text-decoration: none;
}

.patent-link:visited {
    color: blue;
}

#question-mark {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.prop-65-container p{
    color: #4D5B6B;
    font-weight: 800;
}

.prop-65-container p .warning {
    text-transform: uppercase;
    color: #4D5B6B;
    font-family: 'Century Gothic';
}

.prop-65-container p .warning-symbol {
    font-size: 1rem;
}

/* Footer */

footer {
    width: 100%;
    height: 40px;
    background-color: #008ccc;
    margin-top: 5%;
}

footer p {
    font-family: 'Eras Light ITC';
    font-weight: 900;
    position: relative;
    left: 10px;
    top: 10px;
}

#doc {
    float: right;
    margin-right: 20px;
}


/*Media Queries */

@media only screen and (max-width: 700px) {
    nav {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 905px) {
    #systemOne, #systemTwo, #systemThree {
        font-size: 2em;
        right: 0;
        left: 0;
    }
    #guidewire {
        position: absolute;
        right: 20%;
        top: 11%;
        width: 180%;
        font-size: 2.5em;
    }
    #equipment {
        font-size: 1.6em;
    }

    #systemOne {
        top: 55%;
    }

    #systemTwo {
        top: 65%;
    }

    #belowBanner {
        font-size: 0.95em;
    }
}

@media only screen and (max-width: 1100px) {
    #belowBanner {
        font-size: 1.4em;
    }
}

/* Media Queries for Quote section */

@media only screen and (max-width: 1550px) {
    .quote p {
        font-size: 1em;
    }

    .quote-image {
        font-size: 0.7em;
    }

    .quote-image img {
       width: 100px;
    }
}

@media only screen and (max-width: 1350px) {

    .quote-image {
        font-size: 0.6em;
    }

    .quote-image img {
        width: 90px;
    }
}

@media only screen and (max-width: 1230px) {
    .quote p {
        font-size: .8em;
    }

    .quote-image {
        font-size: 0.6em;
    }

    .quote-image img {
        width: 80px;
    }
}

@media only screen and (max-width: 1055px) {
    .quote-container {
        width: 65%;
        margin: 10% auto;
    }
    
    .quote p {
        font-size: 1.1em;
    }

    .quote-image {
        font-size: 0.8em;
    }

    .quote-image img {
        width: 110px;
    }
}

@media only screen and (max-width: 932px) {  
    .quote p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 750px) {  
    .quote p {
        font-size: 0.8em;
    }
    
    .quote-image {
        font-size: 0.6em;
    }

    .quote-image img {
        width: 90px;
    }
}

@media only screen and (max-width: 600px) {  
    .quote-container {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    
    .quote p {
        font-size: 0.8em;
    }
    
    .quote-image {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.8em;
        gap: 10px;
    }

    .quote-image p:nth-child(1) {
        width: auto;
    }
}

@media only screen and (max-width: 510px) {  
    .quote-image {
        font-size: 0.7em;
    }

    .quote-image img {
        width: 60px;
    }
}

@media only screen and (max-width: 400px) {  
    .quote p {
        font-size: 0.7em;
    }
    
    .quote-image {
        font-size: 0.6em;
    }

    .quote-image img {
        width: 60px;
    }
}

@media only screen and (max-width: 350px) {  
    .quote-container {
        height: 100%;
    }
    
    .quote-image {
        flex-direction: column;
    }
}



/*Dual Media Queries*/

@media only screen and (max-width: 1530px) {
    .contentRight h1 {
        margin-bottom: 0%;
        font-size: 2em;
        margin-bottom: 6%;
    }
    #quickLinks {
        margin-bottom: 0%;
        font-size: 1.8em;
        position: relative;
        right: 15%;
        margin-bottom: 2%;
    }
    .links {
        font-weight: 800;
        font-size: 1em;
        width: 60%;
        margin: 0 auto 2%;
    }
    .links h2 {
        margin-bottom: 7%;
        background-color: #008CCC;
        padding: 1%;
    }
    #questions {
        font-family: 'Century Gothic';
        font-size: 1.2em;
        font-weight: 700;
        margin-top: 10%
    }
    .questionsP {
        font-family: 'Eras Light ITC';
        font-weight: 800;
        font-size: 1em;
        width: fit-content;
        margin: 0 0 4%;
        text-align: left;
    }
    #world {
        font-size: 1.2em;
    }

    #subTitle {
        font-size: 1.5em;
    }
    
    #subText {
        font-size: 1.2em;
    }

    #tipImage, #memsImage {
        width: 17%;
    }

    #connectionImage, #buttonImage {
        width: 18%;
    }

    .contentRight {
        vertical-align: top;
    }

    #quickLinks {
        margin-top: 8%;
    }

    .links {
        margin: 3% auto;
    }

    .questionsP {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 1320px) {
    .contentLeft p {
        font-size: 1.1em;
        font-weight: 800;
    }
    .contentRight h1 {
        margin-bottom: 0%;
        font-size: 1.8em;
        margin-bottom: 8%;
    }
    #quickLinks {
        margin-bottom: 0%;
        font-size: 1.5em;
        position: relative;
        right: 15%;
        margin-bottom: 2%;
        margin-top: 5%;
    }
    .links {
        font-weight: 800;
        font-size: 0.9em;
        width: 60%;
        margin: 5% auto 2.5%;
    }
    .links h2 {
        margin-bottom: 10%;
        background-color: #008CCC;
        padding: 1%;
    }
    #questions {
        font-size: 1.2em;
        font-weight: 700;
        margin-top: 11%;
    }
    .questionsP {
        font-weight: 800;
        font-size: 1em;
        width: fit-content;
        margin-top: 5%;
        text-align: left;
    }

    #world {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1240px) {
    .contentRight h1 {
        margin-bottom: 0%;
        font-size: 1.5em;
        margin-bottom: 5%;
    }
    #quickLinks {
        margin-bottom: 0%;
        font-size: 1.2em;
        position: relative;
        right: 15%;
        margin-bottom: 2%;
    }
    .links {
        font-weight: 800;
        font-size: 0.7em;
        width: 60%;
        margin: 5% auto 2.5%;
    }
    .links h2 {
        margin-bottom: 10%;
        background-color: #008CCC;
        padding: 1%;
    }
    #questions {
        font-family: 'Century Gothic';
        font-size: 1.1em;
        font-weight: 700;
        margin-top: 11%;

    }
    .questionsP {
        font-family: 'Eras Light ITC';
        font-weight: 800;
        font-size: 0.9em;
        width: fit-content;
        margin-top: 5%;
        margin-right: 15%;
        text-align: left;
    }

    #world {
        font-size: 0.9em;
    }

    #subTitle {
        font-size: 1.25em;
    }

    #subText {
        font-size: 0.9em;
    }

}

/*Switch to single column*/

@media only screen and (max-width: 1055px) {

    #guidewire {
        text-align: left;
        font-size: 2em;
    }

    .contentLeft {
        width: 100%;
        margin: 0;
        text-align: center;
        list-style-position: inside;
    }
    .contentRight {
        width: 100%;
    }

    .contentRight h1 {
        margin-top: 4%;
        font-size: 2em;
    }

    #quickLinks {
        font-size: 2em;
        width: fit-content;
        left: 0%;
        margin: 0 auto;
        margin-top: 10%;
        text-align: center;
        margin-bottom: 2%;
    }

    .links {
        font-weight: 800;
        font-size: 0.7em;
        width: 60%;
        margin: 2% auto 2%;
    }
    .links h2 {
        margin-bottom: 5%;
        background-color: #008CCC;
        padding: 1%;
    }

    #questions {
        font-size: 1em;
        font-weight: 700;
        margin: 0 0 4% 0;
        text-align: center;
    }

    .questionsP {
        text-align: center;
        font-weight: 800;
        font-size: 1em;
        margin: 0 auto 4%;
    }

    #tip, #mems, #connection, #button, #oneTime {
        font-size: 1.5em;
    }

    #belowBanner {
        font-size: 1.2em;
     }

     #world {
         font-size: 1.2em;
         margin-left: 15%;
         text-align: left;
     }

     #subTitle {
         font-size: 1em;
     }

     #subText {
         font-size: 0.7em;
     }

     #tip, #mems, #connection, #button, #oneTime {
         width: 50%;
     }

     #tipImage, #memsImage, #connectionImage, #buttonImage, #oneTimeImage {
         width: 10%;
     }

     #buttonImage, #connectionImage {
         top: 0;
     }

     .contentRight h1 {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 905px) {
    #guidewire {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 860px) {
     #world {
        font-size: 1em;
    }

    #belowBanner {
        font-size: 0.9em;
    }

    #subTitle {
        font-size: 0.8em
    }

    #subText {
        font-size: 0.6em;
    }

    .questionsP {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 690px) {
    nav {
        font-size: 1em;
    }

    .banner {
        width: 50%;
    }

    .contentRight h1 {
        width: 50%;
        margin: 7% auto 7%;
        padding-top: 5%;
    }

    #guidewire {
        font-size: 2.2em;
        color: #008CCC;
        background-color: white;
        text-align: center;
    }

    #world {
        font-size: 0.9em;
        margin: 0 auto;
        list-style-position: inside;
        text-align: center;
    }

    #subTitle {
        font-size: 1.1em;
        padding-top: 10%;
        margin: 0 auto;
    }

    #subText {
        font-size: 0.7em;
        width: 100% !important;
        margin: 3% auto 0;
    }

    #tip, #mems, #connection, #button, #oneTime {
        width: 100%;
        margin: 0 auto;
        border: none;
        text-align: center;
    }

    #tipImage, #memsImage, #connectionImage, #buttonImage, #oneTimeImage {
        display: block;
        margin: 2% auto;
        width: 28%;
        margin-right: 38%;
    }

    #buttonImage {
        margin-top: -1%;
    }

    #tipImage, #memsImage, #oneTimeImage {
        margin-top: 5%;
    }
}

/*Mobile Phone Sizes*/

@media screen and (max-device-width: 480px) and (orientation: portrait){
    .questions-container {
        width: 70%;
        text-align: center;
        margin: 7% auto;
        left: 0;
    }
  }

@media only screen and (max-width: 480px) {

    #equipment {
        font-size: 1.2em;
        margin-top: 15%;
    }

    #guidewire {
        font-size: 1.9em;
    }

    #logo {
        height: 80px;
        position: absolute;
        top: 15px;
    }

    .contentLeft p {
        font-size: 0.7em;
        font-weight: 800;
        text-align: center;
    }

    .contentRight h1 {
        border-top: none;
        width: 50%;
        margin: 10% auto 7%;
        padding-top: 5%;
    }

    .questions-container {
        width: 70%;
        text-align: center;
        margin: 7% auto;
        left: 0;
    }

    .questionsP {
        text-align: center;
        font-weight: 800;
        font-size: 0.7em;
        margin: 3% 0 4% 0;
    }

    #tip, #mems, #connection, #button {
        padding-right: 5%;
        border-right: none;
        border-top: none;
        width: 100%;
        margin: 0 auto;
    }

    #tip {
        border: none !important;
    }

    #world {
        font-size: 0.8em;
        text-align: left;
        margin-left: 5%;
    }

    #belowBanner {
        font-size: 0.75em;
    }

    #oneTimeImage, #tipImage, #memsImage, #connectionImage, #buttonImage {
        display: block;
        margin: 2% auto;
        width: 37%;
        margin-right: 35%;
    }

    #connection #subText, #button #subText {
        margin-bottom: -20px;
    }

    #subTitle {
        font-size: 0.9em;
        padding-top: 10%;
        width: fit-content;
    }

    #subText {
        font-size: 0.6em;
        width: 100% !important;
    }

    nav{
        display: block;
        max-width: 40%;
        float: right;
        font-size: 1em;
        right: 20px;
    }

    .dropdownContent {
       right: 1px;
       z-index: 3;
    }

    .dropdownContent-about {
        right: 1px;
        z-index: 3;
    }
}