@font-face {
    font-family: 'Eras Light ITC';
    src: url('../fonts/ErasLightITC.ttf') format('truetype');
}

@font-face {
    font-family: 'Eras Bold ITC';
    src: url('../fonts/Eras\ Bold\ ITC.ttf') format('truetype');
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/GOTHIC.TTF) format('truetype');
}

#question-mark {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a:visited {
    color: #4D5B6B;
}

header {
    width: 100%;
    height: 100px;
}

#logo {
    height: 80px;
    width: 130px;
    position: absolute;
    top: 15px;
    left: 50px;
    z-index: 2;
}

nav {
    text-align: right;
    font-size: 1.5em;
    font-family: 'Eras Light ITC';
    width: 95%;
    position: relative;
    top: 35px;
}

nav h4 {
    display: inline-block;
    margin: 0 1.5%;
    color: #4D5B6B;
}

.dropButton {
    display: inline-block;
    font-weight: 800;
    color: #4D5B6B;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#face-shield {
    padding: 5px 16px;
    margin: 0;
    line-height: 0.7em;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropButton {
    background-color: #008CCC;
}

.dropButton-about {
    display: inline-block;
    font-weight: 800;
    color: #4D5B6B;
}

.dropdown-about {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
}

.dropdownContent-about {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent-about a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent-about a:hover {
    background-color: #ddd;
}

.dropdown-about:hover .dropdownContent-about {
    display: block;
}

.dropdown-about:hover .dropButton-about {
    background-color: #008CCC;
}

.temp {
    font-size: 0.5em;
}

.banner {
    background-color: #008CCC;
    position: relative;
    width: 90%;
    height: 200px;
    display: inline-block;
    z-index: -1;
}

.banner-left {
    float: left;
    width: 10%;
    height: 200px;
}

main a {
    text-decoration: none;
}

.banner h1 {
    color: white;
    font-family: 'Century Gothic';
    font-size: 3.5rem;
    margin-left: 10%;
    margin-top: 70px;
}

.introduction {
    border-left: #008CCC solid 5px;
    margin-left: 10vw;
}

.p {
    font-family: 'Eras Light ITC';
    font-size: 1.5rem;
    color: #4D5B6B;
    padding-left: 5%;
}

#first-p {
    padding-top: 2%;
}

.sub-title {
    font-family: 'Eras Light ITC';
    font-size: 2.5rem;
    color: #008CCC;
    font-weight: 800;
    margin-top: 5%;
    padding-left: 5%;
}

.introduction a {
    text-decoration: none;
    font-family: 'Eras Light ITC';
    color: #008CCC;
}

.introduction a:visited {
    color: #008CCC;
}

.bold {
    font-weight: 100;
    font-family: 'Eras Bold ITC';
}

.reimbursement-table-container > table {
    border: solid black 2px;
    border-collapse: collapse;
    margin-left: 5%;
    width: 60vw;
}

.reimbursement-table-container table tr td {
    border: solid black 2px;
    padding: 10px 20px;
    font-family: 'Eras Light ITC';
    font-weight: 600;
}

sup {
    font-size: 10px;
}

.blue {
    background-color: #008CCC;
    color: #f1f1ff;
}

.nowrap {
    white-space: nowrap;
}

.references p {
    color: #4D5B6B;
    font-family: 'Eras Light ITC';
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.references a {
    padding: 0;
}

.references {
    padding-left: 5%;
}

footer {
    position: relative;
    width: 100%;
    margin-top: 7%;
    height: 40px;
    background-color: #008ccc;
}

footer p {
    font-family: 'Eras Light ITC';
    font-weight: 900;
    position: relative;
    width: 100%;
    left: 10px;
    top: 10px;
}

#doc {
    float: right;
    margin-right: 20px;
}

/*Media Queries*/

@media only screen and (max-width: 1400px) {
    .title {
        padding-left: 0;
        padding-right: 0;
        font-size: 1rem;
        width: 10%;
    }
}

@media only screen and (max-width: 1200px) {
    .background {
        background-position: 90%;
        width: 100%;
    }

    .banner h1 {
        font-size: 2.5rem;
        margin-left: 10%;
    }

    footer {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 1110px) {
    footer {
        margin-top: 15%;
    }
}

/*Center Titles, References and Table*/
@media only screen and (max-width: 1020px) {
    .title {
        display: block;
        padding-bottom: 5%;
    }

    .sub-title {
        margin-bottom: 0;
        font-size: 2rem;
        padding-left: 0;
        margin-left: 0;
        text-align: center;
    }

    .reimbursement-table-container table {
        margin: 20px auto 0;
    }

    .sub-title {
        font-size: 1.8rem;
    }

    #first-ref {
        margin-top: 10px;
    }

    .references, .references-p {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: fit-content;
    }
}

/*move background all the way to the right*/
@media only screen and (max-width: 900px) {
    .background {
        background-position: 100%;
    }
}

/*shrink navigation bar, center header, shrink titles and text*/
@media only screen and (max-width: 700px) {
    nav {
        font-size: 1em;
    }

    .background {
        background-image: none;
    }

    .banner h1 {
        text-align: center;
        font-size: 3rem;
    }

    .banner::after {
        display: none;
    }

    .banner-left {
        width: 5%;
    }

    .introduction {
        border-left: none;
        margin-left: 0;
    }

    .sub-title {
        font-size: 1.6em;
    }

    #first-p {
        font-size: 1.2rem;
    }

    .references {
        font-size: 0.9rem;
    }

    table td {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        margin-top: 20%;
    }
}

/*Mobile Screens*/

@media only screen and (max-width: 500px) {
    footer {
        margin-top: 20%;
    }

    #first-p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    nav{
        display: block;
        max-width: 40%;
        float: right;
        font-size: 1em;
        right: 20px;
    }

    .dropdownContent {
        right: 1px;
        z-index: 3;
     }
 
     .dropdownContent-about {
         right: 1px;
         z-index: 3;
     }
    
    #qca {
        width: 20px;
    }
}

/* Shrink Reimbursement Title */
@media only screen and (max-width: 450px) {
    
    .banner {
        text-align: center;
    }

    .banner h1 {
        font-size: 2rem;
        margin: 20% auto;
    }
}

/* Shrink Reimbursement Title Even More*/
@media only screen and (max-width: 300px) {
    .banner h1 {
        font-size: 1.7rem;
    }
}