@font-face {
    font-family: 'Eras Light ITC';
    src: url(../fonts/ErasLightITC.ttf) format('truetype');
}

@font-face {
    font-family: 'Century Gothic';
src: url(../fonts/GOTHIC.TTF) format('truetype');
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

#question-mark {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:visited {
    color: white;
}

header a:visited {
    color: #4D5B6B;
}

header {
    width: 100%;
    height: 100px;
}

nav {
    text-align: right;
    font-size: 1.5em;
    font-family: 'Eras Light ITC';
    width: 95%;
    position: relative;
    top: 35px;
}

nav h4 {
    display: inline-block;
    margin: 0 1.5%;
    color: #4D5B6B;
}

.dropButton {
    display: inline-block;
    font-weight: 800;
    color: #4D5B6B;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#face-shield {
    padding: 5px 16px;
    margin: 0;
    line-height: 0.7em;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropButton {
    background-color: #008CCC;
}

.dropButton-about {
    display: inline-block;
    font-weight: 800;
}

.dropdown-about {
    position: relative;
    display: inline-block;
    margin: 0 1.5%;
    color: #4D5B6B;
}

.dropdownContent-about {
    display: none;
    position: absolute;
    background-color: #f1f1ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdownContent-about a {
    color: #4D5B6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent-about a:hover {
    background-color: #ddd;
}

.dropdown-about:hover .dropdownContent-about {
    display: block;
}

.dropdown-about:hover .dropButton-about {
    background-color: #008CCC;
}

.temp {
    font-size: 0.5em;
}

.background::before {
    background: url(../images/Picture2.png) no-repeat scroll center;
    background-size: contain;
    content: "";
    display: block;
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 95%;
    z-index: -2;
    opacity: 0.3;
    }

.banner {
    position: relative;
    width: 40%;
    height: 650px;
    display: inline-block;
}

.banner-left {
    float: left;
    width: 50%;
    height: 500px;
    background: url(../images/Zurich-cropped.jpg) no-repeat scroll;
    background-size: 55%;
    background-position: center 50%;
}

.banner h1 {
    margin-top: 15%;
    margin-left: 5%;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 2.8em;
    display: none;
}

.banner p {
    text-align: center;
    font-family: 'Eras Light ITC';
    font-size: 2em;
    font-weight: 600;
    margin-top: 40%;
    color: #008CCC;
    width: 120%;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #008ccc;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

footer p {
    font-family: 'Eras Light ITC';
    font-weight: 900;
    position: relative;
    left: 10px;
    top: 10px;
}

#doc {
    float: right;
    margin-right: 20px;
}

@media only screen and (min-width: 2200px) {
    #banner-protect {
        font-size: 1.54em;
        margin-top: 28%;
    }
}

@media only screen and (max-width: 2200px) {
    #banner-protect {
        font-size: 1.54em;
        margin-top: 30%;
    }
}

@media only screen and (max-width: 2100px) {
    #banner-protect {
        font-size: 1.54em;
        margin-top: 35%;
    }
}

@media only screen and (max-width: 1900px) {
    #banner-protect {
        font-size: 1.54em;
        margin-top: 35%;
    }
}

@media only screen and (max-width: 1900px) {
    #banner-protect {
        font-size: 1.54em;
        margin-top: 37%;
    }
}

@media only screen and (max-width: 1750px) {
    #banner-protect {
        font-size: 1.54em;
        margin-top: 40%;
    }
}

@media only screen and (max-width: 1600px) {
    #banner-protect {
        font-size: 1.54em;
        margin-top: 42%;
    }
}

@media only screen and (max-width: 1450px) {
    #banner-protect {
        font-size: 1.3em;
        margin-top: 50%;
    }
}

@media only screen and (max-width: 1300px) {
    #banner-protect {
        font-size: 1.3em;
        margin-top: 55%;
    }
}

@media only screen and (max-width: 1200px) {
    #banner-protect {
        font-size: 1.3em;
        margin-top: 60%;
    }
}

@media only screen and (max-width: 1100px) {
    .banner h1 {
        font-size: 1.9em;
    }

    #banner-protect {
        font-size: 1.2em;
        margin-top: 65%;
    }
}

@media only screen and (max-width: 1050px) {
    #banner-protect {
       font-size: 1.15em;
       margin-top: 67%;
   }
}

@media only screen and (max-width: 1000px) {
     #banner-protect {
        font-size: 1.15em;
        margin-top: 70%;
    }
}

@media only screen and (max-width: 950px) {
    #banner-protect {
       font-size: 1.15em;
       margin-top: 75%;
   }
}

@media only screen and (max-width: 850px) {
    nav{
        display: block;
        max-width: 100%;
        text-align: center;
    }

    .banner h1 {
        font-size: 1.15em;
    }

    #banner-protect {
        font-size: 1.2em;
        margin-top: 25%;
        width: 100%;
    }

    .banner-left {
        background-position-y: 10%;
        width: 100%;
    }

    .banner {
        width: 100%;
        position: absolute;
        height: 200px;
        margin-top: 30%;
    }

    nav {
        font-size: 1em;
    }

    .banner {
        left: 0;
        padding-left: 1%;
    }
}